<style>
    #butt {
        margin: 0;
        float: right;
    }
</style>
<div class="container" style="margin-top: 10px; clear: both;">
    <pre style="white-space: pre-line; text-align: left">{{ payload.text }}</pre>
    <div class="pull-right" id="butt">
        <a href="?edit=true"><button type="button" class="btn btn-warning">Edit</button></a>
    </div>
</div>