<form action="/secret/{{ url }}/auth" method="post">
    <div class="form-group">
        <label for="pass">Secret passphrase</label>
        <input class="form-control" type="password" name="pass">
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default">
    </div>
</form>